<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.shopdb.mapper.GoodsMapper">


    <select id="selectGoodsById" resultType="com.example.shopdb.entity.Goods">
        select * from yxy_goods where goods_id = #{id} limit 1;
    </select>
    <select id="selectGoodsByName" resultType="com.example.shopdb.entity.Goods">
        select * from yxy_goods where goods_name = #{name} limit 1;
    </select>


</mapper>